.profile {
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - 74px);
  padding: 70px 10px 40px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__title {
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  width: 100%;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
  text-align: center;
}
.profile__form {
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - 74px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__form-container {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0 20px;
}

.profile__form-container_type_profile-info {
  display: grid;
  grid-template-columns: 130px auto;
  border: none;
}

.profile__form-container_type_buttons {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile__form-label {
  margin: 0;
  padding: 16px 0;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.21;
  border-bottom: 1px solid #424242;
}

.profile__form-label:last-of-type {
  border-bottom: none;
}

.profile__form-input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
  color: var(--main-text-color);
  margin: 0;
  padding: 16px 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.21;
  text-align: end;
  border: none;
  border-bottom: 1px solid #424242;
}

.profile__form-input:last-of-type {
  border-bottom: none;
}

.profile__form-input:focus {
  outline: none;
}

.profile__form-input::placeholder {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.21;
  color: var(--main-text-color);
}

.profile__form-input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.21;
  color: var(--main-text-color);
}

.profile__form-input::-moz-placeholder {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.21;
  color: var(--main-text-color);
}

.profile__form-input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.21;
  color: var(--main-text-color);
}

.profile__form-input_type_error {
  color: var(--warning-text-color);
  margin-bottom: 10px;
}

.form__input-error {
  display: none;
  padding: 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.21;
  color: var(--warning-text-color);
  margin-bottom: 10px;
}

.form__input-error_active {
  display: block;
}

.form__submit-error {
  display: none;
  padding: 0;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.21;
  color: var(--warning-text-color);
  margin-bottom: 10px;
  text-align: center;
}

.form__submit-error_active {
  display: block;
}

.profile__form-button {
  margin: 0;
  padding: 8px 0;
  width: 100%;
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.21;
  cursor: pointer;
}

.profile__form-button_type_edit {
  color: var(--main-text-color);
}

.profile__form-button_type_signout {
  color: var(--warning-text-color);
  padding: 8px 0 0 0;
}

.profile__form-button_type_save {
  color: var(--warning-text-color);
  box-sizing: border-box;
  padding: 15px 0;
  background-color: var(--blue-button-bg-color);
  border-radius: 3px;
  color: var(--main-text-color);
  font-weight: 500;
}

.profile__form-button_disabled {
  background-color: var(--disabled-button-bg-color);
  color: var(--disabled-button-text-color);
  cursor: default;
}

@media screen and (min-width: 768px) {
  .profile {
    height: calc(100vh - 74px);
    padding: 23vh 0 26vh 0;
  }
  
  .profile__title {
    margin-bottom: 96px;
    max-width: 410px;
  }
  
  .profile__form-container {
    max-width: 410px;
  }
  
  .profile__form-container_type_profile-info {
    padding: 0;
    grid-template-columns: 130px auto;
  }
  
  .profile__form-button {
    font-size: 13px;
  }
}

@media screen and (min-width: 1280px) {
  .profile {
    height: calc(100vh - 74px);
    padding: 11vh 0 10vh 0;
  }
  
  .profile__title {
    margin-bottom: 123px;
  }
  
  .profile__form-container_type_profile-info {
    padding: 0;
    grid-template-columns: 141px auto;
  }

  .profile__form-button {
    transition: opacity .3s ease-in-out;
  }

  .profile__form-button:hover {
    opacity: 80%;
  }
}