.movies {
  box-sizing: border-box;
  padding: 50px 0 80px 0;
  margin: 0 10px;
  width: calc(100% - 2 * 10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movies_hidden {
  display: none;
}

.movies__container {
  width: 100%;
  box-sizing: border-box;
}

.movies__button {
  box-sizing: border-box;
  width: 100%;
  margin: 80px 0 0 0;
  padding: 10px 0;
  background-color: var(--input-bg-color);
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.21;
  cursor: pointer;
}

.movies__button_disabled {
  display: none;
}

@media screen and (min-width: 768px) {
  .movies {
    padding: 80px 0;
    margin: 0 30px;
    width: calc(100% - 2 * 30px);
  }

  .movies__container {
    display: grid;
    grid-template-columns: repeat(2, minmax(339px, 1fr));
    gap: 36px 30px;
  }
  
  .movies__button {
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .movies {
    margin: 0 70px;
    width: calc(100% - 2 * 70px);
  }

  .movies__container {
    gap: 32px 20px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
  
  .movies__button {
    width: 100%;
    max-width: 100%;
    transition: opacity .3s ease-in-out;
  }

  .movies__button:hover {
    opacity: 80%;
  }
}