.search-form {
  box-sizing: border-box;
  padding: 155px 10px 44px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-form__container {
  width: 100%;
  box-sizing: border-box;
}

.search-form__form {
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

.search-form__input {
  box-sizing: border-box;
  width: 100%;
  padding: 25px 19px;
  background-color: var(--dark-grey-bg-color);
  border: none;
  border-radius: 9px;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  outline: none;
}

.search-form__input::-ms-clear {
  display: none; width : 0; height: 0;
}

.search-form__input::-ms-reveal {
  display: none; width : 0; height: 0;
}

.search-form__input::-webkit-search-decoration { display: none; }
.search-form__input::-webkit-search-cancel-button { display: none; }
.search-form__input::-webkit-search-results-button { display: none; }
.search-form__input::-webkit-search-results-decoration { display: none; }

.search-form__input::placeholder {
  color: var(--dark-grey-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
}

.search-form__button {
  box-sizing: border-box;
  height: 34px;
  width: 80px;
  background-color: var(--blue-button-bg-color);
  background-image: url('../../images/search-form_button.svg');
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 48px;
  position: absolute;
  top: 19px;
  right: 19px;
  cursor: pointer;
}

.search-form__error {
  box-sizing: border-box;
  display: none;
  margin: 80px 0 0 0;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.21;
  color: var(--warning-text-color);
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.21;
}

.search-form__error_active {
  display: block;
}

@media screen and (min-width: 768px) {
  .search-form {
    padding: 155px 30px 120px 30px;
  }

  .search-form__container {
    padding: 16px 0;
    display: flex;
    background-color: var(--dark-grey-bg-color);
    box-shadow: 0px 3px 14px rgba(0, 0, 0, .08);
    border-radius: 9px;
  }  
  
  .search-form__form {
    border-right: 1px solid #505050;
    width: 70%;
  }
  
  .search-form__input {
    padding: 9px 19px 9px 63px;
    border: none;
    background-image: url('../../images/search-form_input.svg');
    background-position: 25px 9px;
    background-repeat: no-repeat;
    box-shadow: none;
  }
  
  .search-form__input::placeholder {
    font-size: 18px;
    line-height: 1.1;
  }
  
  .search-form__button {
    top: 0;
  }
}

@media screen and (min-width: 1280px) {
  .search-form {
    padding: 145px 70px 70px 70px;
  }
  
  .search-form__form {
    width: 80%;
  }
  
  .search-form__input {
    background-position: 2.5% 9px;
  }

  .search-form__button {
    right: 2.5%;
    transition: opacity .3s ease-in-out;
  }

  .search-form__button:hover {
    opacity: 80%;
  }
}