.popup {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .9);
  padding: 0 19px;
  visibility: hidden;
  opacity: 0;
  transition: visibility .4s, opacity .4s;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility .4s, opacity .4s;
}

.popup__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  cursor: pointer;
}

.popup__container {
  box-sizing: border-box;
  position: relative;
}

.popup__close-button {
  background: transparent url(../../images/close-icon-mobile.svg) no-repeat center;
  background-size: 20px 20px;
  border: none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -36px;
  right: 0;
}

.popup__response-container {
  margin: 0;
  padding: 50px 0 50px 0;
  border: none;
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup__image {
  width: 120px;
  height: 120px;
  margin-bottom: 40px;
}

.popup__text {
  max-width: 244px;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.21;
  text-align: center;
  margin: 0;
  padding: 0;
  color: black;
}

@media screen and (min-width: 768px) {
  .popup__close-button {
    top: -40px;
    right: -40px;
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
  }

  .popup__response-container {
    padding: 60px 0 60px 0;
    width: 430px;
  }
}

@media screen and (min-width: 1024px) {
  .popup__text {
    max-width: 358px;
    font-size: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .popup__close {
    transition: opacity .4s;
  }

  .popup__close:hover {
    opacity: .6;
    cursor: pointer;
  }
}
