.header {
  box-sizing: border-box;
  height: 74px;
  width: 100%;
  padding: 18px 14px 18px 10px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 38px;
  height: 38px;
}

.header__nav {
  list-style: none;
  display: flex;
}

.header__nav_item {
  margin: 0;
  padding: 0;
  margin-right: 14px;
}

.header__nav_item:last-of-type {
  margin-right: 0;
}

.header__link {
  font-size: 10px;
  font-weight: 500;
  line-height: 1,6;
  text-decoration: none;
  color: var(--main-text-color);
}

.header__link_type_button {
  box-sizing: border-box;
  padding: 5px 12px;
  color: var(--light-btn-text-color);
  background-color: var(--green-button-bg-color);
  border-radius: 3px;
}