.promo {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--secondary-bg-color);
}

.promo__container {
  box-sizing: border-box;
  width: 100%;
  padding: 183px 0px 40px 0px;
}

.promo__title {
  box-sizing: border-box;
  width: 100%;
  padding: 0 10px;
  margin: 0;
  font-size: 31px;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: -0.04em;
  text-align: center;
}

.promo__image {
  box-sizing: border-box;
  width: 100%;
  height: 230px;
  background-image: url(../../../images/promo_image.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 60px;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .promo__container {
    padding: 300px 44px 70px 44px;
  }

  .promo__title {
    padding: 0;
    margin-bottom: 140px;
    font-size: 40px;
    line-height: 1.3;
  }
}